<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding openTimeout="00:30:30"
                 closeTimeout="00:30:30"
                 sendTimeout="00:30:30"
                 receiveTimeout="00:30:30">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint name ="TradingService"
                contract="ForexTradingWcfServiceLibrary.ITradingForexService"
                binding="netTcpBinding"
                address="net.tcp://localhost:9000/Pexeso" />
    </client>
  </system.serviceModel>

</configuration>
